@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div id="Xyx" class="page-content" ng-controller="StockReportController">

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-large">
                    <h5 class="widget-title"> <i class="ace-icon fa fa-file-pdf-o"></i> Stock Report </h5>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" role="form" ng-controller="StockReportController" name="fmStockReport"
                              ng-init="ngInitBindComboBoxes()">
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Report Type <span style="color: Red">*</span>:
                                </label>
                                <div class="col-sm-3">

                                    <select ng-model="Section.ReportType" class=" form-control" name="ReportType" required ng-change="changeReporttype(Section.ReportType)">
                                        <option value="">Select Report Type</option>
                                        <option value="Closing Stock">Closing Stock</option>
                                        <option value="Stock Ledger">Stock Ledger</option>
                                    </select>
                                    <span class="error" ng-show="(fmStockReport.ReportType.$dirty || submitted ) && fmStockReport.ReportType.$error.required">
                                        Report Type required!
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"  ng-hide="showandhidedatelabel">
                                    As on Date <span style="color: Red">*</span>:
                                </label>
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1" ng-hide="showandhide">
                                    From Date <span style="color: Red">*</span>:
                                </label>
                                <div class="col-sm-3">
                                    <input name="FromDate" type="text" ng-model="Section.fromdate" id="calendar" placeholder="Select From Date" class=" form-control" data-date-format="dd/mm/yyyy" required />
                                    <span class="error" ng-show="(fmStockReport.FromDate.$dirty || submitted ) && fmStockReport.FromDate.$error.required">
                                        From Date required!
                                    </span>
                                </div>
                                <div ng-hide="showandhide">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                        To Date <span style="color: Red">*</span>:
                                    </label>
                                    <div class="col-sm-3">
                                        <input name="ToDate" type="text" id="datepicker" ng-model="Section.todate" placeholder="Select To Date" class=" form-control" data-date-format="dd/mm/yyyy" ng-required="Valid" />
                                        <span class="error" ng-show="(fmStockReport.ToDate.$dirty || submitted ) && fmStockReport.ToDate.$error.required">
                                            To Date required!
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Store <span style="color: Red">*</span>:
                                </label>
                                <div class="col-sm-3">
                                    <select ng-init="Section.StorageLocationName=0" ng-model="Section.StorageLocationName" class=" form-control" name="StorageLocationName" ng-options="c.StorageLocationName as c.StorageLocationName for c in SectionnamesDetails" required>
                                        @*<select ng-model="Section.SectionName" class=" form-control" name="SectionName" required>
                                            <option value="">Select Name</option>
                                            <option value="1">All</option>*@
                                        <option value="">Select Store</option>
                                    </select>
                                    <span class="error" ng-show="(fmStockReport.StorageLocationName.$dirty || submitted ) && fmStockReport.StorageLocationName.$error.required">
                                        Store Name required!
                                    </span>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-success" type="button" ng-click="PrintStockReport(Section)">
                                        <i class="ace-icon fa fa-save bigger-110"></i>Print
                                    </button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#calendar").datepicker({
            endDate: '+0d'

        });
    });
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            endDate: '+0d'

        });
    });
</script>
<script>
    var app = angular.module('RMS');
    app.controller('StockReportController', function ($scope, $http, $rootScope) {
        $scope.Section = {};
        $rootScope.ModuleName = "Reports";
        $rootScope.FormName = "Stock";
        $scope.Valid = true;;
        $scope.isFormValid = false;

        $scope.$watch('fmStockReport.$valid', function (newValue) {
            $scope.isFormValid = newValue;
        });

        $scope.showandhide = false;
        $scope.showandhidedatelabel = true;
        $scope.changeReporttype = function (reporttype) {

            if (reporttype == "Closing Stock") {
                $scope.showandhide = true;
                $scope.showandhidedatelabel = false;
                $scope.Valid = false;;
            }
            else {
                $scope.showandhide = false;
                $scope.showandhidedatelabel = true;
                $scope.Valid = true;;
            }
        }

        $scope.checkDate = function (date1, date2) {
            debugger;
            // if ((new Date(parseInt(date1.split('/')[1]) - 1, date1.split('/')[2], date1.split('/')[0])) > (new Date(parseInt(date2.split('/')[1]) - 1, date2.split('/')[2], date2.split('/')[0])))
            if ((new Date(date1.split('/')[2], parseInt(date1.split('/')[1]) - 1, date1.split('/')[0])) > (new Date(date2.split('/')[2], parseInt(date2.split('/')[1]) - 1, date2.split('/')[0])))
                //if (date1 > date2)
                return false;
            else
                return true;
        }

        $scope.ngInitBindComboBoxes = function () {
            debugger;
            $http({
                url: '/MMSMaster/ShowStorageLocation/',
                method: "get"
            }).success(function (data) {
                debugger;
                $scope.SectionnamesDetails = data;

            });
        }

        $scope.PrintStockReport = function (Section) {
            debugger
            $scope.submitted = true;
            if ($scope.isFormValid) {
                var res = $scope.checkDate($("#calendar").val(), $("#datepicker").val());
                if (res) {
                    var w = window.open("/MMSReports/StockLedgerReport/?fromdate=" + (Section.fromdate) + "&todate=" + (Section.todate) + "&store=" + Section.StorageLocationName + "&Reporttype=" + Section.ReportType + "", '_blank');
                    $scope.Section = {};
                    $scope.fmSectionWiseReport.$setPristine();
                    $scope.submitted = false;
                    $scope.Section.SectionName = 0;
                }
                else {
                    alert("To Date Should Be GreterThan or Equal to From Date");
                }
            }
        }
    });
</script>


