@{
    ViewBag.Title = "CreateItemwiseReport";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="Xyx" class="page-content" ng-controller="ItemwiseReportController" ng-init="ngInitBindComboBoxes()">

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat widget-header-large">
                    <h5 class="widget-title"> <i class="ace-icon fa fa-file-pdf-o"></i> ITEM WISE </h5>
                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form class="form-horizontal" role="form" ng-controller="ItemwiseReportController" name="fmitemwiseReport"
                              ng-init="ngInitBindComboBoxes()" novalidate>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    From Date :
                                </label>
                                <div class="col-sm-3">
                                    <input name="FromDate" type="text" ng-model="item.fromdate" id="calendar" data-date-format="dd/mm/yyyy" required class=" form-control " />
                                    <span class="error" ng-show="(fmitemwiseReport.FromDate.$dirty || submitted ) && fmitemwiseReport.FromDate.$error.required">
                                        From Date required!
                                    </span>
                                </div>

                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    To Date :
                                </label>
                                <div class="col-sm-3">
                                    <input name="ToDate" type="text" id="datepicker" ng-model="item.todate" data-date-format="dd/mm/yyyy" required class=" form-control " />
                                    <span class="error" ng-show="(fmitemwiseReport.ToDate.$dirty || submitted ) && fmitemwiseReport.ToDate.$error.required">
                                        To Date required!
                                    </span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    Item Name :
                                </label>
                                <div class="col-sm-3">
                                    <select ng-init="item.itemName=0" ng-model="item.itemName" class=" form-control" name="itemName" ng-options="c.itemid as c.itemname for c in itemnameDetails" required>
                                        @*<option value="">Select Name</option>
                                            <option value="1">All</option>*@
                                    </select>
                                    <span class="error" ng-show="(fmitemwiseReport.itemName.$dirty || submitted ) && fmitemwiseReport.itemName.$error.required">
                                        Item Name required!
                                    </span>

                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success" type="button" ng-click="PrintitemReport(item)">
                                        <i class="ace-icon fa fa-save bigger-110"></i>Print
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-12">
                               
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.19.custom.min.js"></script>
<script>
    $(function () {
        $("#calendar").datepicker({
            endDate: '+0d'

        });
    });
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({

            endDate: '+0d'
        });
    });
</script>
<script>
    var app = angular.module('RMS');
    app.controller('ItemwiseReportController', function ($scope, $http, $rootScope) {
        $scope.item = {};
        $rootScope.FormName = "Item Wise";
        $rootScope.ModuleName = "Reports";
        $scope.isFormValid = false;
        $scope.item.itemName = 0;

        $scope.$watch('fmitemwiseReport.$valid', function (newValue) {
            $scope.isFormValid = newValue;
        });

        $scope.ngInitBindComboBoxes = function () {
            debugger;
            $http({
                url: '/POSReports/GetItemnames/',
                method: "get"
            }).success(function (data) {
                debugger;
                $scope.itemnameDetails = eval('(' + data.Data + ')');
            });
        }
        $scope.checkDate = function (date1, date2) {
            //if ((new Date(parseInt(date1.split('/')[1]) - 1, date1.split('/')[2], date1.split('/')[0])) > (new Date(parseInt(date2.split('/')[1]) - 1, date2.split('/')[2], date2.split('/')[0])))
            if ((new Date(date1.split('/')[2], parseInt(date1.split('/')[1]) - 1, date1.split('/')[0])) > (new Date(date2.split('/')[2], parseInt(date2.split('/')[1]) - 1, date2.split('/')[0])))
               // if (date1 > date2)
                return false;
            else
                return true;
        }
        $scope.PrintitemReport = function (item) {
            debugger
            $scope.submitted = true;
            if ($scope.isFormValid) {
                var res = $scope.checkDate($("#calendar").val(), $("#datepicker").val());
                if (res) {
                    var w = window.open("/POSReports/ItemwiseSaleReport/?fromdate=" + changedate(item.fromdate) + "&todate=" + changedate(item.todate) + "&itemName=" + item.itemName + "", '_blank');
                    $scope.item = {};
                    $scope.fmitemwiseReport.$setPristine();
                    $scope.submitted = false;
                    $scope.item.itemName = 0;
                }
                else {
                    alert("From Date Should Be LessThan To Date");
                }
            }
        }
    });
</script>
