@{
    ViewBag.Title = "TableWiseSale";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div id="Xyx" class="page-content" ng-controller="TablewiseReportController" ng-init="ngInitBindComboBoxes()>
    <div class=" row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-large">
                <h5 class="widget-title"> <i class="ace-icon fa fa-file-pdf-o"></i> TABLE WISE </h5>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal" role="form" ng-controller="TablewiseReportController" name="fmTablewiseReport" ng-init="ngInitBindComboBoxes()">
                        <div class=" form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                From Date :
                            </label>
                            <div class="col-sm-3">
                                <input name="FromDate" type="text" ng-model="Table.fromdate" class=" form-control" id="calendar" data-date-format="dd/mm/yyyy" required />
                                <span class="error" ng-show="(fmTablewiseReport.FromDate.$dirty || submitted ) && fmTablewiseReport.FromDate.$error.required">
                                    From Date required!
                                </span>
                            </div>

                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                To Date :
                            </label>
                            <div class="col-sm-3">
                                <input name="ToDate" type="text" id="datepicker" class=" form-control" ng-model="Table.todate" data-date-format="dd/mm/yyyy" required />
                                <span class="error" ng-show="(fmTablewiseReport.ToDate.$dirty || submitted ) && fmTablewiseReport.ToDate.$error.required">
                                    To Date required!
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                Table Name :
                            </label>
                            <div class="col-sm-3">

                                <select ng-init="Table.username=0" ng-model="Table.username" class=" form-control" name="username" ng-options="c.tableid as c.tablesname for c in TablenameDetails" required>
                                    @*<select ng-model="Table.username" class=" form-control" name="username" required>
                                        <option value="">Select Table Name</option>
                                        <option value="1">All</option>*@
                                </select>
                                <span class="error" ng-show="(fmTablewiseReport.username.$dirty || submitted ) && fmTablewiseReport.username.$error.required">
                                    Table Name required!
                                </span>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-success" type="button" ng-click="PrintSalesReport(Table)">
                                    <i class="ace-icon fa fa-save bigger-110"></i>Print
                                </button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.19.custom.min.js"></script>
<script>
    $(function () {
        $("#calendar").datepicker({
            endDate: '+0d'

        });
    });
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            endDate: '+0d'

        });
    });
</script>

<script>
    var app = angular.module('RMS');
    app.controller('TablewiseReportController', function ($scope, $http, $rootScope) {
        $scope.Table = {};
        $rootScope.ModuleName = "Reports";
        $rootScope.FormName = "Table Wise";
        $scope.isFormValid = false;
        $scope.$watch('fmTablewiseReport.$valid', function (newValue) {
            $scope.isFormValid = newValue;
        });

        $scope.ngInitBindComboBoxes = function () {
            debugger;
            $http({
                url: '/POSReports/GetTablename/',

                method: "get"
            }).success(function (data) {
                debugger;
                $scope.TablenameDetails = eval('(' + data.Data + ')');

                //  $scope.Table.username = $scope.TablenameDetails[0].tablesname;
            });
        }


        $scope.checkDate = function (date1, date2) {
            debugger;
           // if ((new Date(parseInt(date1.split('/')[1]) - 1, date1.split('/')[2], date1.split('/')[0])) > (new Date(parseInt(date2.split('/')[1]) - 1, date2.split('/')[2], date2.split('/')[0])))
           if ((new Date(date1.split('/')[2], parseInt(date1.split('/')[1]) - 1, date1.split('/')[0])) > (new Date(date2.split('/')[2], parseInt(date2.split('/')[1]) - 1, date2.split('/')[0])))
            //if (date1 > date2)
            return false;
            else
                return true;
        }

        $scope.PrintSalesReport = function (Table) {
            debugger
            $scope.submitted = true;
            if ($scope.isFormValid) {
                var res = $scope.checkDate($("#calendar").val(), $("#datepicker").val());
                if (res) {
                    var w = window.open("/POSReports/TableGenerateReports/?fromdate=" + changedate(Table.fromdate) + "&todate=" + changedate(Table.todate) + "&tablename=" + Table.username + "", '_blank');
                    $scope.Table = {};
                    $scope.fmTablewiseReport.$setPristine();
                    $scope.submitted = false;
                    $scope.Table.username = 0;
                }
                else {
                    alert("From Date Should Be LessThan To Date");
                }
            }
        }
    });
</script>
