@{
    ViewBag.Title = "VoucherType";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content" ng-controller="vchTypeController" ng-init="LoadData()">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" name="fmVocherType" novalidate>
                <div class="form-group" hidden>
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2">
                        Voucher Type Code <span style="color: Red">*</span> :
                    </label>
                    <div class="col-sm-5">
                        <input name="Code" ng-model="VchType.VoucherTypeCode" autofocus placeholder="Enter Voucher Type Code" class="form-control" kit-alpha-numeric maxlength="10"
                                type="text" />
                        <span class="error" ng-show="(fmVocherType.Code.$dirty || submitted) && fmVocherType.Code.$error.required">
                            Voucher Type Code required!
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                        Voucher Type Name <span style="color: Red">*</span> :
                    </label>
                    <div class="col-sm-5">
                        <input name="Name" id="txtVchTypeName" ng-model="VchType.VoucherTypeName" placeholder="Enter Voucher Type Name" kit-alpha-numeric maxlength="100"
                               class="form-control" required autofocus type="text" />
                        <span class="error" ng-show="(fmVocherType.Name.$dirty || submitted ) && fmVocherType.Name.$error.required">
                            Voucher Type Name required!
                        </span>
                    </div>
                </div>

                <div class=" col-sm-8">
                    <div class="pull-right">
                        <button class="btn btn-success" type="button" ng-click="Save(VchType)">
                            <i class="ace-icon fa fa-plus bigger-110"></i>{{btnSave}}
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn orange" ng-click="Reset()">
                            <i class="ace-icon fa fa-undo bigger-110"></i>Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table id="gpVchType"></table>
    <div id="grid-pager">
    </div>
</div>
<script type="text/javascript">

    var appElement = document.querySelector('[ ng-controller=vchTypeController]');
    function Search() {
        JqCustomSearch($("#globalSearchText").val(), $("#gpVchType"))
    }
    function edit(row) {
        debugger;
        var $scope = angular.element(appElement).scope();
        var rowdata = $("#gpVchType").getRowData(row);
        var $http = angular.element(appElement).injector().get('$http');






        $http.post('/POSMasters/UpdateVoucherType', rowdata).success(function (data) {
            debugger
            if (data == 1) {
                alert("Cannot Update Voucher Type Details  as it is in use by the application");
               
            }
            else {
                $scope.btnSave = "Update"
                $scope.VchType = rowdata;
                $scope.$apply();
            }
        })
                  .error(function (data) {
                      alert("Error found");
                  });



       
    }
    function Delete(row) {
        var $scope = angular.element(appElement).scope();
        if ($scope.btnSave == "Save") {
            var $http = angular.element(appElement).injector().get('$http');
            var rowdata = $("#gpVchType").getRowData(row);

            var ans = confirm("Are You Sure? Do You Want To Delete?");

            if (ans) {
                $http.post('/POSMasters/DeleteVoucherType', rowdata).success(function (data) {
                    if (data) {
                        alert("Voucher Type Details Deleted Successfully");
                        $('#gpVchType').jqGrid('delRowData', row);
                        $scope.LoadData();
                    }
                }).error(function (data) { alert("Error Occuerd"); });
            }
        }
    }

</script>
<script type="text/javascript">

    var app = angular.module('RMS');
    app.controller('vchTypeController', function ($scope, $http, $rootScope) {
        debugger
        $scope.submitted = false;
        $scope.isFormValid = false;
        $scope.btnSave = "Save";
        $rootScope.FormName = "Voucher Type";
        $rootScope.ModuleName = "Masters";


        $scope.LoadData = function () {
            $http({
                url: '/POSMasters/ShowVoucherType/',
                method: "get"

            }).success(function (data) {
                debugger;
                OriginGridBinding(data);

            }).error(function () {
                alert("Error Occuerd");

            });
        }


        $scope.$watch('fmVocherType.$valid', function (newValue) {
            debugger
            $scope.isFormValid = newValue;
        });

        $scope.Save = function (VchType) {
            debugger
            $scope.submitted = true;
            if ($scope.isFormValid) {
                if ($scope.btnSave == "Save") {
                    var ans = confirm($rootScope.msgSave);
                    if (ans) {
                        $http.post('/POSMasters/SaveVoucherType', VchType).success(function (data) {
                            debugger
                            if (data > 0) {
                                alert("Voucher Type Name  Already Exist");
                               
                            }
                            else {
                                alert("Voucher Type Details Saved Successfully");
                                $scope.LoadData();
                                $('gpVchType').trigger("reloadGrid", [{ page: 2 }])
                                ClearForm();
                            }
                        })
                   .error(function (data) {
                       alert("Error found");
                   });
                    }
                }
                else {
                    var ans = confirm($rootScope.msgUpdate);
                    if (ans) {
                        $http.post('/POSMasters/UpdateVoucherType', VchType).success(function (data) {
                            debugger
                            if (data > 0) {
                                alert("Voucher Type Name  Already Exist");
                                
                            }
                            else {
                                alert("Voucher Type Details Updated Successfully");
                                $scope.LoadData();
                                ClearForm();
                            }
                        })
                   .error(function (data) {
                       alert("Error found");
                   });
                    }

                }

            }
        }
        $scope.Reset = function () {
            ClearForm();
        }



        //****************** Clear Details *******************************//

        function ClearForm() {
            debugger
            $scope.VchType = {};
            $scope.btnSave = "Save";
            $scope.fmVocherType.$setPristine();
            $scope.submitted = false;
        }

        //****************** JQ Grid  *******************************//
        function OriginGridBinding(data) {
            debugger

            var grid_data = data;
            var grid_selector = "#gpVchType";
            var pager_selector = "#grid-pager";

            //grid data refresh
            jQuery(grid_selector).jqGrid('setGridParam', { datatype: 'local', data: grid_data }).trigger("reloadGrid");
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', $(".page-content").width());
            })
            //resize on sidebar collapse/expand
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 0);
                }
            })


            jQuery(grid_selector).jqGrid({
                data: grid_data,
                datatype: "local",
                height: 290,
                rownumbers: true,
                colModel: [
                        {
                            label: ' ', width: 25, sortable: false, key: true, formatter: function (cellvalue, options, rowObject) {

                                return "<button class='btn-grid' type='button' onclick='edit(" + options.rowId + ");'  ><i class='fa fa-pencil'></i><br/></button> <button class='btn-grid' type='button' onclick='Delete(" + options.rowId + ")'  ><i class='fa fa-trash'></i></button>";
                            }
                        },
                        { label: 'RecordId', name: 'RecordId', width: 75, hidden: true },

			 { label: 'Voucher Type Code', name: 'VoucherTypeCode', width: 90 },
            	{ label: 'Voucher Type Name', name: 'VoucherTypeName', width: 75 },

                ],

                viewrecords: true,
                rowNum: 8,
                rowList: [8, 16, 25, 100],
                pager: pager_selector,
                altRows: true,
                search: true,
                ignoreCase: true,
                loadComplete: function (id) {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);

                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },


                caption: "Voucher Types <span class='input-icon grid-search'>  <input type='text' onkeyup='Search()'  id='globalSearchText'  placeholder='Search ...' class='nav-search-input' autocomplete='off'>  <i class='ace-icon fa fa-search nav-search-icon'></i></span> "


            });
            $(window).triggerHandler('resize.jqGrid');

        }

    });
</script>
