@{
    //ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<h2>changepassword</h2>*@
<script type="text/javascript">
    var app = angular.module('RMS');
    app.controller('ChangePasswordCtrl', function ($scope, $http, $rootScope) {
        debugger;
        $scope.ChangeUser = {};
        $rootScope.FormName = "changepassword";
        $rootScope.ModuleName = "Login";
        $scope.ChangeUsersubmitted = false;
        $scope.isChangeUserFormValid = false;
        $scope.$watch('ChangePasswordform.$valid', function (newValue) {
            debugger;
            $scope.isChangeUserFormValid = newValue;
        });
        //-----==================== Saving Change User Password ==================-----//
        $scope.SaveChangeUser = function (ChangeUser) {
            debugger;
            $scope.ChangeUsersubmitted = true;
            if ($scope.isChangeUserFormValid) {
                //Save
                debugger;
                if (ChangeUser.NewPassword == ChangeUser.ConfirmPassword) {
                    var ans = window.confirm("Are you sure?Do you want to Save?");
                    if (ans) {
                        $http({
                            url: '/Login/SaveChangeUser/',
                            method: "POST",
                            data: ChangeUser
                        }).success(function (data) {
                            debugger;
                            if (data == 'True') {
                                $scope.ResetChangeData();
                                $scope.ChangeUsersubmitted = false;
                                alert("New Password Updated Successfully !");
                                $http({
                                    url: '/Login/LogOff/',
                                    method: "get"
                                }).success(function (data) {
                                    debugger;
                                });
                                //BindGrid(data.Data);
                            }
                            else {
                                alert(" Error While Updating Password!");
                            }
                        });
                    }
                } else {
                    alert("Password and ConfirmPassword should be Same!");
                    $('#chgNewPassword').val('');
                    $('#chgConfirmPassword').val('');
                }
            }
        }
        // Reset Change User Password User Form
        $scope.ResetChangeData = function () {
            debugger;
            $scope.ChangeUser = {};
            $scope.ChangePasswordform.$setPristine();
            $scope.ChangeUsersubmitted = false;
            $('#chgNewPassword').val('');
            $('#chgConfirmPassword').val('');
            $('#chgOldPassword').val('');
        }
    });
</script>
<div class="panel-collapse" ng-controller="ChangePasswordCtrl">
    <div class="page-content">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div id="changepassword" class="tab-pane ">
                    <div class="row">
                        <form name="ChangePasswordform" novalidate class="form-horizontal">
                            <div class="col-md-12">
                                <div>
                                    @*<header class="panel-heading">
                                            Change Password
                                        </header>*@
                                    <div class='form-group' hidden>
                                        <div class="col-sm-8 ">
                                            <label class="col-md-3 control-label FullWidth">
                                                <span style="color: Black">User Name</span> <span style="color: Red">*</span>:
                                            </label>
                                            <div class="col-sm-8 FullWidth">
                                                <select ng-model="ChangeUser.UserID" id="UserID" class="form-control" name="UserID"
                                                        ng-options="I.UserID as I.UserName for I in EmployeeList">
                                                    <option value="">Select User Name</option>
                                                </select>
                                                <span class="error" ng-show="(ChangePasswordform.UserID.$dirty || ChangeUsersubmitted) && ChangePasswordform.UserID.$error.required">
                                                    User Name required!
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <div class="col-sm-8 ">
                                            <label class="col-md-3 control-label FullWidth">
                                                Old Password <span style="color: Red">*</span>:
                                            </label>
                                            <div class="col-sm-8 FullWidth">
                                                <input class="form-control" maxlength="25" ng-model="ChangeUser.OldPassword" type="text"
                                                       placeholder="Enter Old Password" id="chgOldPassword" name="chgOldPassword" required
                                                       ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" />
                                                <div>
                                                    <span class="error" ng-show="(ChangePasswordform.chgOldPassword.$dirty || ChangeUsersubmitted) && ChangePasswordform.chgOldPassword.$error.required">
                                                        Old Password required!
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="col-md-12 FullWidth">
                                            </div>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <div class="col-sm-8 ">
                                            <label class="col-md-3 control-label FullWidth">
                                                New Password <span style="color: Red">*</span>:
                                            </label>
                                            <div class="col-sm-8 FullWidth">
                                                <input class="form-control" maxlength="25" id="chgNewPassword" ng-model="ChangeUser.NewPassword"
                                                       type="text" placeholder="Enter New Password" name="chgNewPassword" required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" />
                                                <div>
                                                    <span class="error" ng-show="(ChangePasswordform.chgNewPassword.$dirty || ChangeUsersubmitted) && ChangePasswordform.chgNewPassword.$error.required">
                                                        New Password required!
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="col-md-12 FullWidth">
                                            </div>
                                        </div>
                                    </div>
                                    <div class='form-group'>
                                        <div class="col-sm-8 ">
                                            <label class="col-md-3 control-label FullWidth">
                                                Confirm Password <span style="color: Red">*</span>:
                                            </label>
                                            <div class="col-sm-8 FullWidth">
                                                <input class="form-control" maxlength="25" ng-model="ChangeUser.ConfirmPassword"
                                                       type="text" placeholder="Enter Confirm Password" name="chgConfirmPassword" required
                                                       id="chgConfirmPassword" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" />
                                                <div>
                                                    <span class="error" ng-show="(ChangePasswordform.chgConfirmPassword.$dirty || ChangeUsersubmitted) && ChangePasswordform.chgConfirmPassword.$error.required">
                                                        Confirm Password required!
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 ">
                                            <div class="col-md-12 FullWidth">
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <div class="col-md-3 ">
                                            </div>
                                            <div class="col-md-8 text-right">
                                                <button ng-click="SaveChangeUser(ChangeUser)" class="btn btn-success" type="button">
                                                    <i class="ace-icon fa fa-plus bigger-110"></i>Save
                                                </button>
                                                <button ng-click="ResetChangeData()" class="btn btn-danger">
                                                    <i class="ace-icon fa fa-undo bigger-110"></i>Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
