<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Login Page - MALAKA</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
    <link href="~/assets/font-awesome.min.css" rel="stylesheet" />
    <!-- text fonts -->
    <link rel="stylesheet" href="../assets/fonts/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="../assets/css/malaka.css" />
    <link rel="stylesheet" href="../assets/css/malaka-rtl.min.css" />
    <style>
        input {
            padding: 5px;
            border: 1px solid #A5A5A5;
        }

            input.ng-dirty.ng-invalid {
                border: 1px solid red;
                background-color: rgb(255, 244, 244);
            }

        .error {
            color: red;
            font-size: 13px;
        }
    </style>
</head>
<body class="login-layout" ng-app="myApp" ng-controller="myCtrl">
    
        <div class="container">
            <div class="main-content">
                <div class="row">
                   
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <img src="../assets/images/logo.png" width="120">
                                </h1>
                                <!--<h2 class="red" id="id-company-text">MALAKA RESTAURANT</h2>-->
                            </div>
                            <div class="space-6">
                            </div>
                            <br>
                            <br>
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body-login">
                                        <div class="widget-main" style="display:block !important;">
                                            <h4 class="header light-orange lighter bigger text-center">
                                                <i class="fa fa-coffee"></i> &nbsp;  your <strong class="red2">LOGIN</strong>
                                                details
                                            </h4>
                                            <div class="space-6">
                                            </div>

                                            <form name="fmlogin">

                                                <fieldset>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input id="nameUser" type="text" ng-model="login.UserName" class="form-control" name="Username" autofocus placeholder="Username" required data-index="1" kt-focus />
                                                            <i class="ace-icon fa fa-user"></i>
                                                        </span>
                                                        <span class="error" ng-show="(fmlogin.Name.$dirty || submitted ) && fmlogin.Username.$error.required">
                                                            User Name Required!
                                                        </span>
                                                    </label>
                                                    <label class="block clearfix">
                                                        <span class="block input-icon input-icon-right">
                                                            <input id="pas" type="password" class="form-control" ng-model="login.Password" name="Password" placeholder="Password" required kt-focus data-index="2" />
                                                            <i class="ace-icon fa fa-lock"></i>
                                                        </span>
                                                        <span class="error" ng-show="(fmlogin.Name.$dirty || submitted ) && fmlogin.Password.$error.required">
                                                            Password Required!
                                                        </span>
                                                    </label>
                                                    <div class="space">
                                                    </div>
                                                    <div class="clearfix">
                                                        <button name="btnLogin" type="button" class="width-35 pull-right btn btn-sm btn-danger" ng-click="UserLogin(login)" data-index="3">
                                                            <i class="ace-icon fa fa-key"></i><span class="bigger-110">Login</span>
                                                        </button>
                                                    </div>
                                                    <div class="space-4">
                                                    </div>
                                                </fieldset>
                                            </form>
                                            <div class="space-6">
                                            </div>
                                        </div>
                                        <!-- /.widget-main -->
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.login-box -->
                                <!-- /.forgot-box -->
                            </div>
                            <!-- /.position-relative -->
                            <!--<div class="navbar-fixed-top align-right">
                                    <br />
                                    &nbsp;
                                    <a id="btn-login-dark" href="#" class="red2">Dark</a>
                                    &nbsp;
                                    <span class="red2">/</span>
                                    &nbsp;
                                    <a id="btn-login-blur" href="#" class="red2">Blur</a>
                                    &nbsp;
                                    <span class="red2">/</span>
                                    &nbsp;
                                    <a id="btn-login-light" href="#" class="red2">Light</a>
                                    &nbsp; &nbsp; &nbsp;
                                </div>-->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div style="background: rgba(0,0,0,0.7); height: 80px; width: 100%; bottom: 0px;
        position: absolute">
            <img src="../assets/Images/malaka.png" style="left: 0px; height: 80%; margin: 5px 40px;">
            <h4 style="float: right; margin-right: 20px; font-size: 16px; font-weight: 400; color: #fff;
            margin-top: 30px;">
                Powered By : <strong style="color: #F00">Kapil IT Solutions</strong>
            </h4>
        </div>
        @* <script type="text/javascript">

                var app = angular.module('RMS2',[]);

                app.controller('ctrllogin', function ($scope, $http) {
                 alert("2");
                 debugger
            //        $scope.$watch('ctrllogin.$valid', function (newValue) {
            //            debugger
            //            $scope.isFormValid = newValue;
            //        });

                    $scope.UserLogin = function (login) {
                    alert("");
                    debugger;
                     // if ($scope.isFormValid) {


                    //}
                });
                </script>*@
   
</body>
</html>
<script src="~/Scripts/angular.js"></script>
<script src="~/assets/js/jquery.1.11.1.min.js"></script>
<script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        debugger;
        $scope.$watch('fmlogin.$valid', function (newValue) {
            debugger
            $scope.isFormValid = newValue;
        });
        $scope.UserLogin = function (login) {
            $scope.submitted = true;
            if ($scope.isFormValid) {
                $http.post('/Login/UserLogin', { objLogin: login }).success(function (data) {
                    debugger;
                    if (data == 1) {
                        debugger;
                        var url = '@Url.Action("../POSTransaction/DashBoard")';
                        window.location.href = url;
                    }
                    else {
                        alert("Invalid Username or Password");
                        $scope.login = {};
                    }
                });

                //            $http.post('/Login/Test').success(function (data) {
                //
                //                // $state.go("/POSTransaction/DashBoard");
                //            });
            }
        }

        $('#nameUser').keypress(function (e) {
            debugger;
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                document.getElementById('pas').focus();
                return false;
            }
        });
        $('#pas').keypress(function (e) {
            debugger;   
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $('button[name = btnLogin]').click();
                return false;
            }
        });


    });

</script>
<script>

    

</script>
