@{

    Layout = "~/Views/Shared/Trans_LayoutPage.cshtml";

}

<html>
<head>




    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>



</head>

<style type="text/css">
    .fullwidth {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
    }

    .ui-jqgrid-btable .ui-state-highlight {
        background: #003366;
    }

    .ui-state-highlight {
        background: lightblue !important;
    }

    .holdRow td {
        font-weight: bold !important;
        color: Blue !important;
        background: gray;
    }

    .holdSelected td {
        font-weight: bold !important;
        color: green !important;
        background: yellow;
    }


    .higLightholdRow td {
        font-weight: bold !important;
        color: Yellow !important;
    }

    .can_be_selected {
        border: 1px solid #696;
    }

    .background_color_grey {
        background: #ccc;
    }

    .ui-jqgrid .ui-jqgrid-title {
        width: 100%;
    }

    .ui-jqgrid .ui-jqgrid-caption {
        width: 100%;
    }


    .grid-ico {
        width: auto;
        float: right;
        right: 20px;
        position: relative;
    }

        .grid-ico li {
            list-style: none;
            float: left;
            padding: 0px 5px;
            font-size: 18px;
            color: #fff;
        }

    .ui-jqgrid .ui-jqgrid-hbox {
        background: none;
        border-bottom: 0px solid #fc8b7f;
    }




    .background_color_grey {
        background: #ccc;
    }


    /*#wrap {
        margin: 00px 10px;
        display: inline-block;
        position: relative;
        height: 60px;
        float: right;
        padding: 0;
        position: relative;
    }*/

    #wrap-search input[type="text"] {
        height: 40px;
        font-size: 22px;
        display: inline-block;
        font-weight: 100;
        border: none;
        outline: none;
        color: #333;
        padding: 3px;
        padding-right: 26px;
        width: 0px;
        position: absolute;
        top: 0;
        right: 0px;
        background: none;
        z-index: 3;
        transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
        cursor: pointer;
        border-radius: 0px !important;
    }

        #wrap-search input[type="text"]:focus:hover {
            border-bottom: 1px solid #BBB;
        }

        #wrap-search input[type="text"]:focus {
            width: 400px;
            z-index: 1;
            border-bottom: 1px solid #BBB;
            cursor: text;
            background: #fff;
            border-radius: none;
        }

    /*#wrap-search input[type="submit"] {
        height: 30px;
        width: 26px;
        display: inline-block;
        color: red;
        float: right;
        background: url(../../assets/Images/search-icon.png) center center no-repeat;
        text-indent:111px;
        border: none;
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .4s ease;
        background-size: 30px;
    }

        input[type="submit"]:hover {
            opacity: 0.8;
        }*/


    #wrap-search a.submit {
        height: 30px;
        width: 26px;
        display: inline-block;
        color: red;
        float: right;
        background: url(../../assets/Images/search-icon.png) center center no-repeat;
        text-indent: 111px;
        border: none;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
        cursor: pointer;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .4s ease;
        background-size: 30px;
    }

        #wrap-search a.submit:hover {
            opacity: 0.8;
        }



    ul.menu-item {
        width: 100%;
        padding: 3px;
        margin: 0px;
    }

        ul.menu-item li {
            width: 100%;
            height: 40px;
            display: inline;
            padding: 8px 10px;
            line-height: 30px;
            font-size: 16px;
            margin: 2px 0px;
            border-radius: 4px;
            box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
        }

            ul.menu-item li span {
                float: left;
            }

            ul.menu-item li .item-title {
                width: auto;
                min-width: 70%;
            }

            ul.menu-item li .item-Code {
                width: auto;
                min-width: 70%;
            }

            ul.menu-item li .quantity {
                width: auto;
                min-width: 10%;
            }

        ul.menu-item .rate-item {
            width: auto;
            min-width: 20%;
            text-align: right;
        }

            ul.menu-item .rate-item .fa {
                color: #080000 !important;
            }


    .table > thead > tr {
        background: #6fb3e0 !important;
    }


        .table > thead > tr > th {
            font-weight: 600 !important;
            font-size: 16px;
            color: #fff;
            text-transform: uppercase !important;
            width: inherit;
            padding: 8px 2px;
        }

    .table > tbody {
        font-size: 14px;
    }



    .fa-plus:before,
    .fa-minus:before {
        font-size: 12px !important;
        font-kerning: none;
        color: #444;
        text-shadow: none;
    }

    .table > thead > tr > th:last-child {
        text-align: right;
        padding-right: 25px !important;
    }

    .table > tfoot > tr > th:last-child {
        text-align: right;
    }

    .table > tfoot > tr > th {
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px double rgba(0, 0, 0, 0.8);
    }

    .table > tfoot > tr > td {
        border-bottom: none;
    }
</style>


<div ng-controller="KottakingController" ng-init=" GetTableName();">
    <script>

        //$(document).on('click', '.fullwidth', function () {
        //    debugger;
        //    //var s = $('.nav-tabs .active').text()
        //    var CategoryName = this.innerText
        //    var catege = [];
        //    var Subcatege = [];
        //    var itemsundersubs = [];
        //    var itemsun = [];
        //    var itemsundersubsObject = [];
        //    var appElement = document.querySelector('[ ng-controller=KottakingController]');
        //    var $scope = angular.element(appElement).scope();
        //    for (var r = 0; r < $scope.lstItems.length; r++) {

        //        if ($scope.lstItems[r].CategoryName == CategoryName) {
        //            if ($scope.lstItems[r]["subcategoryname"] != "") {
        //                Subcatege.push($scope.lstItems[r].subcategoryname);
        //            }

        //        }

        //    }
        //    $scope.uniqueArraySub = Subcatege.filter(function (elem, pos) {
        //        return Subcatege.indexOf(elem) == pos;
        //    });

        //    for (var p = 0; p < $scope.uniqueArraySub.length; p++) {
        //        for (var m = 0; m < $scope.lstItems.length; m++) {

        //            if ($scope.lstItems[m].subcategoryname == $scope.uniqueArraySub[p]) {

        //                itemsundersubs.push($scope.lstItems[m]);
        //            }
        //        }

        //    }
        //    $scope.itemsundersubs = itemsundersubs;
        //    $scope.$apply();
        //});

    </script>

    <div class="page-content">
        <div class="row">

            <div class=" col-sm-12 col-xs-12">


                <div class="page-header" style="padding-bottom:40px !important; ">
                    <div class="col-sm-4 col-xs-12">
                        <h1 style="width:auto; line-height:35px;  float:left">
                            NEW ORDER
                            <small><i class="ace-icon fa fa-angle-double-right"></i></small>
                        </h1>
                    </div>
                    <div class="col-sm-4 col-xs-6">

                        <div class="no-padding-right " style="font-size:16px; font-weight:600;">
                            Covers :<b>{{KOTDetails.Covers}}</b> &nbsp; &nbsp;  | Adults:  <input id="form-field-1" placeholder="00" kit-digits maxlength="2" ng-model="KOTDetails.Adults" style="width: 40px; height:40px; border-radius: 100% !important; text-align:center; border:2px inset #b3cf00 !important; " " type=" text"> | Kids: <input id="form-field-1" placeholder="00" ng-model="KOTDetails.Kids" kit-digits maxlength="2" style="width: 40px; height: 40px; border-radius: 100% !important; text-align: center; border: 2px inset #b3cf00 !important;" " type=" text">


                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                        <div class="pull-right" style="line-height:35px;">
                            <i class="ace-icon fa fa-clock-o red"></i> Session
                            <strong class="red"> {{SessionName}}</strong>
                        </div>
                    </div>

                </div>
                <!-- PAGE CONTENT BEGINS -->

            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">

                    <div class="modal fade" id="myModal1" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content" style="width:200px;  margin:20% auto;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Quantity Divide</h4>
                                </div>
                                <div class="modal-body" style="padding:10px 0px 0px 0px;">
                                    <div class="form-group">
                                        <div style="left:15px; display:inline-block; position:relative ">
                                            <div class="col-sm-4 col-xs-4 no-padding">

                                                <input kit-digits maxlength="2" type="text" ng-model="Qun.actualquantity" id="actualquantity" class="form-control" />
                                            </div>
                                            <div class="col-sm-2 col-xs-2 no-padding">
                                                <i style="font-size:48px; font-weight:600; padding:0px;">/</i>
                                            </div>
                                            <div class="col-sm-4 col-xs-4 no-padding" style="top:30px;">
                                                <input kit-digits maxlength="2" type="text" ng-model="Qun.divideQuantity" id="divideQuantity" width="10" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="SaveQuantity(EditedIndex)">SAVE</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Recent Order items</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <table id="gpKOTPending"></table>
                                                <div id="grid-pager3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Merging Tables</h4>
                    </div>
                    <div class="modal-body">
                        @*<div class="form-group" ng-show="KT.Mergetable">
                        *@
                        <label class="control-label  col-sm-2" for="food"> Table No.</label>
                        <div ng-dropdown-multiselect="" options="example6data" tableid="kottt" selected-model="example6model" ng-model="dfdsf" translation-texts="example5customTexts" extra-settings="example6settings" checkboxes="true"></div>
                        {{$scope.selectedOptions}}


                        @*
                            </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



        <div class="row">


            <div class="col-sm-12">
                <a href="" class="btn btn-info fadeInLeft animated pull-left" data-toggle='modal' data-target='#myModal2'> <i class="fa fa-shopping-basket" aria-hidden="true"></i> Recent Order Items</a>

                <a href="" class="btn btn-info fadeInLeft animated pull-left" data-toggle='modal' data-target='#myModal' style="margin-left:315px;"> <i class="fa fa-code-fork"></i> Merge Table</a>
            </div>

            <div class="col-sm-5 col-xs-12 table-responsive">

                @*<table id="gpKOT"></table> table-striped table-bordered*@

                <table class="table table-striped " style="margin:3px 0px; border:1px solid #ddd; border:#f5ecec; " width="100">

                    <thead class="">
                        <tr class="">
                            <th>
                            </th>
                            <th ng-hide="true">
                                Item Id
                            </th>
                            <th ng-hide="true">
                                Item Code
                            </th>
                            <th align="center" style="width:40%; text-wrap:none; ">
                                Item
                            </th>
                            <th align="center" style="width: 20%; text-align: center; ">
                                Qty.
                            </th>
                            <th style="width: 16%; text-align: center; ">
                                Rate
                            </th>
                            <th style="width:24%; text-align:right; padding-right:10px;">
                                Amount
                            </th>

                            <th ng-hide="true">
                                Actual Rate
                            </th>
                            <th ng-hide="true">
                                Actual Rate
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Itema in Items">
                            <td>
                                <a href="#" class='btn-grid'><span ng-click="EditQuantity(Itema,$index);" style='font-size:12px; font-weight:800; color:#000; padding:0px 6px; margin-top:0px; display:block; border-radius:50%; border:1px solid #000;'>/</span></a>
                            </td>
                            <td ng-hide="true">
                                {{Itema.ItemId}}
                            </td>
                            <td ng-hide="true">
                                {{Itema.ItemCode}}
                            </td>
                            <td>
                                {{Itema.ItemName}}
                            </td>
                            <td style="width: 140px; text-align: center">
                                <a href="#" class='btn-grid' ng-click="AddQuantity($index)" style="width:24px; height:24px; float:left; text-align:center; line-height:20px;  border-radius:50%; border:1px solid #ddd;">
                                    <i class='fa fa-plus'></i>
                                </a>

                                <span style="width:100px;">  {{Itema.Quantity}}</span>

                                <a href="#" class='btn-grid' ng-click="RemoveQantity($index)" style="width: 24px; height: 24px; float: right; text-align: center; line-height: 20px; border-radius: 50%; border: 1px solid #ddd;">
                                    <i class="fa fa-minus" aria-hidden='true'></i>
                                </a>
                            </td>
                            <td style="text-align: center">
                                {{Itema.ActualRate | currency:'₹ '}}
                            </td>

                            <td style="text-align: right">
                                {{Itema.Rate| currency:'₹ '}}
                            </td>

                            <td ng-hide="true">
                                {{Itema.Status}}
                            </td>
                            <td ng-hide="true">
                                {{Itema.QuantityHidden}}
                            </td>

                        </tr>
                    </tbody>
                    <tfoot ng-hide="FooterShow">

                        <tr class="" style="">
                            <td></td>
                            <td></td>
                            <td></td>
                            <th id="total" colspan="1">Total :</th>
                            <th>{{Total| currency:'₹ '}}</th>
                        </tr>
                    </tfoot>
                </table>

                @*<div id="grid-pager2">
                    </div>*@
                <br />
                <div class="col-sm-6 col-xs-7">

                </div>



                <div class="col-sm-6 col-xs-6">
                    <a href="" class=" checkout-btn  checkout-btn-bg pull-right" ng-click="Save()" ng-hide="FooterShow">
                        CHECK OUT
                    </a>

                </div>
            </div>






            <div class="col-sm-7 col-xs-12">
                <div class="widget-box transparent" id="recent-box" style="padding:0px 0px !important; border:1px solid #ddd; margin-left:0px; height:auto !important;">
                    <div class="widget-header " style="padding:0px 0px !important;">
                        <div class="col-sm-3 col-xs-12 btn-info ">
                            <h4 class=" widget-title lighter smaller">
                                <i class="ace-icon fa fa-cart-plus"></i> CATEGORIES
                            </h4>
                        </div>
                        <div class="col-sm-7  col-xs-7 padding-0">
                            <div class="widget-toolbar no-border pull-left padding-0" id="xyx">
                                <ul class="nav nav-tabs padding-0" id="Tabscontainer">
                                    <li id="{{table}}" ng-class="ActiveTabs($index)" ng-repeat="table in uniqueArray"> <a data-toggle="tab" href="#{{table}}" ng-click="getsubcate(table)">{{table}}  </a> </li>
                                    @*class="active" {active: $index==0}*@
                                </ul>

                            </div>
                        </div>
                        <div class="col-sm-2 col-xs-2 pull-right">
                            <div id="wrap-search">
                                <form action="" autocomplete="on">
                                    <input type="text" name="filter" ng-keyup="showRemainingTabs(filter,$event)" ng-focus="SEARCH()" ng-model="filter" value="" id="filter" placeholder="What're you looking for ?" />
                                    <a href="#" class="submit" id="search_submit"></a>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <div class="widget-body">


                        <div class="widget-main no-padding">
                            <div class="tab-content  no-padding" id="DataPush" ng-repeat="table in uniqueArray" ng-init="listIndex = $index">
                                <div id="{{table}}" class="tab-pane active ">

                                    <div class="panel-group" id="accordion">

                                        <div class="panel panel-default no-border no-radius" id="xyz" ng-repeat="table in uniqueArraySub" ng-if="listIndex==0">


                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    @*<h4 class="panel-title">
                                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                <span class="fa fa-minus"></span>
                                                                Collapsible Group Item #1
                                                            </a>
                                                        </h4>*@


                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{table.split(' ').join('')}}" ng-click="getItems(table)" style="border:0px solid #333; width:100% !important; display:inline-block; height:100%; ">
                                                        <span class="fa fa-angle-down  pull-right" style="color:#111 !important; ">  </span>  {{table}}

                                                    </a>

                                                </h4>
                                            </div>

                                            <div id="{{table.split(' ').join('')}}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <ul class="menu-item">
                                                        <li ng-repeat="tables in itemsundersubs" ng-click="addItem(tables)">
                                                            <span class="item-title"> {{tables.ItemName}}</span>
                                                            <span class="quantity"> {{tables.Quantity}} </span>
                                                            <span class="rate-item"><i class="fa fa-inr"></i> {{tables.Rate}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="panel-group" id="accordion1" ng-hide="shide">
                                        <div class="panel panel-default no-border no-radius">

                                            <div class="panel-body" style="margin:0px !important; ">
                                                <ul class="menu-item">
                                                    <li id="xyz" ng-repeat="tables in it | filter:filter" ng-if="listIndex==0" ng-click="addItem(tables)">
                                                        <span ng-hide="true"> {{tables.ItemCode}}</span>
                                                        <span class="item-title"> {{tables.ItemName}}</span>
                                                        <span class="quantity"> {{tables.Quantity}} </span>
                                                        <span class="rate-item"><i class="fa fa-inr"></i> {{tables.Rate}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            </h4>
                                        </div>


                                    </div>




                                </div>
                                <!-- /.#member-tab -->

                            </div>
                        </div>



                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>


    @*<ul class="check-out hidden-md hidden-lg">
            <li class="recent-kot-btn" data-toggle='modal' data-target='#myModal2'> <i class="fa fa-bell-o"></i> RECENT KOT'S | </li>
            <li class="no-kot"> No. of Items : <span>20</span> </li>
            <li ng-click="Save()" class="check-out-btn"  data-toggle="collapse" data-target="#demo">CHECK OUT <i class="fa fa-forward"></i></li>


        </ul>*@
</div>

<script type="text/javascript">

    var app = angular.module('RMS');
    app.controller("KottakingController", ['$filter', '$scope', '$http', '$rootScope', '$location', 'myService', function ($filter, $scope, $http, $rootScope, $location, myService) {
        debugger;
        $scope.FooterShow = true;
        $scope.selectedOptions = [{
            value: 0,
            text: 0,

        }];

        var pos = $location.$$absUrl.lastIndexOf('#');
        if (pos >= 0) {
            $location.$$absUrl = $location.$$absUrl.substring(0, pos);
        }
        var UrlData = $location.$$absUrl.split('/');
        var TableId = UrlData[UrlData.length - 1];
        $scope.KOTDetails = {};
        $scope.shide = true;
        $scope.ind = 0;
        $scope.Items = [];
        $scope.NEWORDER = { OrderDate: "", OrderTime: "" }
        debugger;
        $scope.Qun = {};

        var date = new Date();
        $scope.NEWORDER.OrderDate = $filter('date')(new Date(), 'dd-MM-yyyy');
        $scope.NEWORDER.OrderTime = $filter('date')(new Date(), 'hh:mm a');

        LoadSession(TableId);
        $scope.showRemainingTabs = function (searchName, event) {
            debugger;
            if (event.keyCode != 13) {
                if (searchName != "") {
                    $scope.ind = 1;

                    for (var T = 0; T < $scope.uniqueArray.length; T++) {

                        $('[href="#' + $scope.uniqueArray[T] + '"]').closest('li').hide();

                    }


                    document.getElementById('accordion').style.visibility = "hidden";
                    $scope.shide = false;
                    $('.nav-tabs a[href="#Search"]').tab('show');
                    $scope.getsubcate("Search");
                }
                if (searchName == "") {

                    $scope.ActiveTab = "XYZ";
                    for (var W = 0; W < $scope.uniqueArray.length; W++) {

                        $('[href="#' + $scope.uniqueArray[W] + '"]').closest('li').show();

                    }

                    $('[href="#Search"]').closest('li').hide();
                    document.getElementById('accordion').style.visibility = "visible";
                    $scope.shide = true;
                    $('.nav-tabs a[href="#' + $scope.uniqueArray[0] + '"]').tab('show');
                    $scope.getsubcate($scope.uniqueArray[0]);


                }
            }
            else {


                event.preventDefault();
            }
            //$('[href="#FOOD"]').closest('li').show();
            //document.getElementById('accordion').style.visibility = "visible";
        }
        $scope.getItems = function (table) {
            debugger;
            $scope.subcateclick = table;
            var itemsundersubs = [];
            for (var m = 0; m < $scope.lstItems.length; m++) {

                if ($scope.lstItems[m].subcategoryname == table && $scope.lstItems[m].CategoryName == $scope.ActiveTab) {

                    itemsundersubs.push($scope.lstItems[m]);
                }
            }


            $scope.itemsundersubs = itemsundersubs;

        }
        $scope.addItem = function (item) {
            debugger;
            $scope.FooterShow = false;
            debugger
            var ItemCountIntable = $scope.Items.reduce(function (n, Z) {
                return n + (Z.ItemName == item.ItemName);
            }, 0);
            if (ItemCountIntable == 0) {
                $scope.Items.push({ 'ItemId': item.ItemId, 'ItemCode': item.ItemCode, 'ItemName': item.ItemName, 'Quantity': item.Quantity, 'Rate': item.Rate, 'ActualRate': item.Rate, 'Status': "N", 'QuantityHidden': "" });

                $scope.Total = $scope.Items.reduce(function (pv, cv) {
                    debugger;
                    return pv + cv.Rate;
                }, 0);
            }
        }

        $scope.AddQuantity = function (row) {
            debugger;

            $scope.Items[row]['Quantity'] = parseInt($scope.Items[row]['Quantity']) + 1
            $scope.Items[row]['Rate'] = parseFloat($scope.Items[row]['Quantity']) * $scope.Items[row]['ActualRate'];
            $scope.Total = $scope.Items.reduce(function (pv, cv) {

                return pv + cv.Rate;
            }, 0);
        }
        $scope.RemoveQantity = function (row) {
            debugger;

            var ddd = $scope.Items.length;
            $scope.Items[row]['Quantity'] = parseInt($scope.Items[row]['Quantity']) - 1
            if ($scope.Items[row]['Quantity'] == 0) {

                $scope.Items.splice(row, 1);
                $scope.Total = $scope.Items.reduce(function (pv, cv) {

                    return pv + cv.Rate;
                }, 0);
                if ($scope.Items.length == 0) {

                    $scope.FooterShow = true;
                }
                else {

                    $scope.FooterShow = false;
                }
            }
            else {
                $scope.Items[row]['Rate'] = parseFloat($scope.Items[row]['Quantity']) * $scope.Items[row]['ActualRate'];
                $scope.Total = $scope.Items.reduce(function (pv, cv) {

                    return pv + cv.Rate;
                }, 0);
            }
            //$scope.FooterShow = false;
        }
        $scope.getsubcate = function (getsubcate) {

            $('#' + $scope.subcateclick).collapse('hide')
            debugger;
            var Active = $scope.ActiveTab;
            if (getsubcate != Active)
                if (getsubcate == "Search") {


                    $scope.itemsundersubs = [];
                    $scope.uniqueArraySub = [];
                    $scope.it = $scope.lstItems;
                }
                else {
                    $scope.it = [];
                    var CategoryName = getsubcate;
                    var catege = [];
                    var Subcatege = [];
                    var itemsundersubs = [];
                    var itemsun = [];
                    var itemsundersubsObject = [];
                    $scope.ActiveTab = getsubcate;
                    for (var r = 0; r < $scope.lstItems.length; r++) {

                        if ($scope.lstItems[r].CategoryName == CategoryName) {
                            if ($scope.lstItems[r]["subcategoryname"] != "") {
                                Subcatege.push($scope.lstItems[r].subcategoryname);
                            }

                        }

                    }
                    $scope.uniqueArraySub = Subcatege.filter(function (elem, pos) {
                        return Subcatege.indexOf(elem) == pos;
                    });

                    for (var p = 0; p < $scope.uniqueArraySub.length; p++) {
                        for (var m = 0; m < $scope.lstItems.length; m++) {

                            if ($scope.lstItems[m].subcategoryname == $scope.uniqueArraySub[p]) {

                                itemsundersubs.push($scope.lstItems[m]);
                            }
                        }

                    }
                    $scope.itemsundersubs = itemsundersubs;
                    $scope.$apply();
                }

        }
        $scope.ActiveTabs = function (index) {


            if (index == 0) {
                return "active"
            }
            if (index == 2) {

                if ($scope.ind == 0) {
                    $('[href="#Search"]').closest('li').hide();
                }
            } else { $('[href="#Search"]').closest('li').hide(); }


        }
        $scope.EditQuantity = function (table, Index) {
            debugger;
            $scope.Qun.actualquantity = table.Quantity;

            if (table.QuantityHidden != "") {

                $scope.Qun.divideQuantity = table.QuantityHidden.split('/')[1];
            }

            $('#myModal1').modal({ backdrop: 'static', keyboard: false, show: 'show' });
            $scope.EditedIndex = Index;

        }
        function LoadSession(T) {
            debugger


            $http({
                url: '/POSTransaction/ShowAvailabletables/',
                method: "POST",
                data: { Id: $scope.Tid, TableName: T }

            }).success(function (data) {
                debugger;
                var obj = JSON.parse(data.Data);
                $scope.example6model = [];
                $scope.example6data = obj;
            });

            $http({
                url: '/POSTransaction/ShowSessionForKOTtaking/',
                method: "post",
                data: { TName: T }
            }).success(function (data) {
                debugger;


                $scope.lstItems = data.lstItems;
                $scope.SessionName = data.lstSessionDetails[0].SessionName;
                $scope.Host = data.lstSessionDetails[0].Host;
                $scope.KOTDetails = data.lstSessionDetails[0];
                OriginPendingKOTGridBinding(data.CompletedOrderItem)
                $scope.Covers = data.lstSessionDetails[0].SessionName;




                $scope.TName = $scope.KOTDetails.TableName;
                var catege = [];
                var Subcatege = [];
                var itemsundersubs = [];
                var itemsun = [];
                var itemsundersubsObject = [];
                T = 0;
                y = 0;
                for (var z = 0; z < $scope.lstItems.length; z++) {

                    catege.push($scope.lstItems[z].CategoryName);
                }
                var uniqueArray = catege.filter(function (elem, pos) {
                    return catege.indexOf(elem) == pos;
                });

                $scope.uniqueArray = uniqueArray;
                $scope.ActiveTab = uniqueArray[0];
                $scope.uniqueArray[$scope.uniqueArray.length] = "Search";

                debugger;
                for (var i = 0; i < uniqueArray.length; i++) {
                    $scope.cat = uniqueArray[0];
                    for (var r = 0; r < $scope.lstItems.length; r++) {

                        if ($scope.lstItems[r].CategoryName == $scope.cat) {
                            if ($scope.lstItems[r]["subcategoryname"] != "") {
                                Subcatege.push($scope.lstItems[r].subcategoryname);
                            }

                        }


                        $scope.uniqueArraySub = Subcatege.filter(function (elem, pos) {
                            return Subcatege.indexOf(elem) == pos;
                        });

                        for (var p = 0; p < $scope.uniqueArraySub.length; p++) {
                            for (var m = 0; m < $scope.lstItems.length; m++) {

                                if ($scope.lstItems[m].subcategoryname == $scope.uniqueArraySub[p]) {

                                    itemsundersubs.push($scope.lstItems[m]);
                                }
                            }

                        }
                        $scope.itemsundersubs = itemsundersubs;

                    }

                }





            });





        }

        $scope.Save = function () {
            debugger

            var Grid_data = {};
            var KT = {}

            var count = 0;
            KT = $scope.KOTDetails;
            var boolMerge = true;


            var Adults = $scope.KOTDetails.Adults;
            var Kids = $scope.KOTDetails.Kids;



            if ((parseInt(Adults) > 0 || parseInt(Kids) > 0)) {
                if ($scope.Items.length > 0) {
                    $scope.selectedOptions = $scope.example6model;

                    if (confirm('Are You Sure want to save?')) {
                        $http({
                            url: '/POSTransaction/CreateKOT/',
                            method: "POST",
                            data: { KOTDetails: KT, ItemDetails: $scope.Items, Mergetables: $scope.selectedOptions }
                        }).success(function (data) {
                            debugger;
                            if (data.Count == 0) {
                                debugger;
                                alert("KOT Details Saved Successfully");
                                debugger;
                                $scope.FooterShow = true;
                                var url = '@Url.Action("../POSTransaction/DashBoard")';
                                window.location.href = url;
                            }
                            else if (data.Count == 2) {
                                alert("Table is not available to order ");
                                var url = '@Url.Action("../POSTransaction/DashBoard")';
                                window.location.href = url;
                            }
                            else if (data.Count == 3) {
                                alert("Table your trying to merge is running ");
                                $http({
                                    url: '/POSTransaction/ShowAvailabletables/',
                                    method: "POST",
                                    data: { Id: $scope.Tid, TableName: T }

                                }).success(function (data) {
                                    debugger;
                                    var obj = JSON.parse(data.Data);
                                    $scope.example6model = [];
                                    $scope.example6data = obj;
                                });
                            }
                            else {
                                alert("Error While Saving");

                            }
                        });
                    }
                }
                else {
                    alert("Add Items to Grid");
                }
            }
            else {
                alert("Enter Adults Or Kids");
            }
        }

        $scope.SaveQuantity = function (row) {
            debugger;

            var divideQ = document.getElementById('divideQuantity').value;
            var ActuQ = document.getElementById('actualquantity').value;
            var xyx = $scope.Items[row];
            debugger;
            if (divideQ == "") {

                alert("Enter Divide Members !");
                return false;

            }
            if (ActuQ > xyx.Quantity) {

                alert("Quntity Should Not Be Greater  than Actual!");
                return false;

            }

            if (confirm('Are You Sure want to save?')) {

                divideQ = document.getElementById('divideQuantity').value;
                ActuQ = document.getElementById('actualquantity').value;
                $scope.Items[row]["QuantityHidden"] = divideQ;
                if (xyx.QuantityHidden.includes("/") == true) {

                    ActuQ = xyx.QuantityHidden.split('/')[1];


                }
                $scope.Items[row]["QuantityHidden"] = ActuQ + '/' + divideQ;
                $('#myModal1').modal('hide');
                document.getElementById('divideQuantity').value = "";
                document.getElementById('actualquantity').value = "";
                $scope.Qun = {}
                //var divideQ = document.getElementById('divideQuantity').value;
                //var ActuQ = document.getElementById('actualquantity').value;
                alert("Quantity Divded Successfully !");
            }
        }


        function OriginPendingKOTGridBinding(data) {
            debugger

            var grid_data = data;
            var grid_selector = "#gpKOTPending";
            var pager_selector = "#grid-pager3";

            ////grid data refresh
            //jQuery(grid_selector).jqGrid('setGridParam', { datatype: 'local', data: grid_data }).trigger("reloadGrid");
            ////resize to fit page size
            //$(window).on('resize.jqGrid', function () {
            //    // $(grid_selector).jqGrid('setGridWidth', 'full-width');
            //    $(grid_selector).jqGrid('setGridWidth', $(".full-width").width());
            //})
            ////resize on sidebar collapse/expand
            //var parent_column = $(grid_selector).closest('[class*="col-"]');
            //$(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
            //    if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
            //        //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
            //        setTimeout(function () {
            //            $(grid_selector).jqGrid('setGridWidth', parent_column.width());
            //        }, 0);
            //    }
            //})


            //grid data refresh
            jQuery(grid_selector).jqGrid('setGridParam', { datatype: 'local', data: grid_data }).trigger("reloadGrid");
            //resize to fit page size
            $(window).on('resize.jqGrid', function () {
                $(grid_selector).jqGrid('setGridWidth', $(".col-sm-5").width());
            })
            //resize on sidebar collapse/expand
            var parent_column = $(grid_selector).closest('[class*="col-"]');
            $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
                if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                    //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                    setTimeout(function () {
                        $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                    }, 0);
                }
            })
            jQuery(grid_selector).jqGrid({
                data: grid_data,
                datatype: "local",
                height: 290,

                width: 543,
                shrinkToFit: false,

                rownumbers: true,
                colModel: [

            { label: 'Kot Name', name: 'KotName', hidden: true },
             { label: 'Item Code', name: 'ItemCode', width: 20, hidden: true },
              { label: 'Item', name: 'ItemName', width: 180 },
              { label: 'Quantity', name: 'Quantity', width: 70 },
               { label: 'Amount', name: 'Rate', width: 100 },

                ],
                viewrecords: true,
                rowNum: 8,
                rowList: [8, 16, 25, 100],
                pager: pager_selector,
                altRows: true,
                search: true,
                grouping: true,
                ignoreCase: true,
                groupingView: {
                    groupField: ["KotName"],
                    groupColumnShow: [true],
                    groupText: ["<b>{0}</b>"],
                    groupOrder: ["asc"],
                    groupSummary: [false],
                    groupCollapse: false

                },

                // onSelectRow: editRow(),
                loadComplete: function (id) {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },


                caption: "KOT Details <span class='input-icon grid-search'></span> "


            });
            //$(window).triggerHandler('resize.jqGrid');
        }

    }]);
</script>



    </body>
</html>

<script>

    $('.collapse').on('shown.bs.collapse', function () {
        $(this).parent().find("span.fa-plus").removeClass("fa-plus").addClass("fa-minus");
    }).on('hidden.bs.collapse', function () {
        $(this).parent().find("span.fa-minus").removeClass("fa-minus").addClass("fa-plus");
    });


    //function Search3() {
    //    debugger
    //    JqCustomSearch($("#globalSearchText").val(), $("#gpKOTPending"))
    //}

</script>





